# EmailJS Configuration
# Get these values from https://www.emailjs.com/
PUBLIC_EMAILJS_SERVICE_ID=your_service_id_here
PUBLIC_EMAILJS_TEMPLATE_ID=your_template_id_here
PUBLIC_EMAILJS_PUBLIC_KEY=your_public_key_here

# Supabase Auth & Database Configuration
# Get these values from your Supabase Project Settings -> API
PUBLIC_SUPABASE_URL=your_supabase_project_url
PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Get these from Supabase Project Settings -> Database
# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgres://postgres.[project-ref]:[password]@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection to the database. Used for migrations.
DIRECT_URL="postgres://postgres.[project-ref]:[password]@aws-0-us-west-1.pooler.supabase.com:5432/postgres"
